export(accepted)
export(as.climdex.data.frame)
export(climdex.data.frame)
export(ks.test.climdex.data.frame)
export(temperature_max_daily)
export(temperature_min_daily)
import(climdex.pcic)
import(RMAWGEN)
import(stats)
S3method(as.data.frame,climdex.data.frame)
S3method(wilcox.test,climdex.data.frame)
